# EAS Build Ignore File
# Documentation: https://docs.expo.dev/build/eas-json/#easignore

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
# If you use EAS Secrets, ignore all .env files locally.
.env*
.env*.local

# typescript
*.tsbuildinfo
